footer {
  background-color: map-get($color, primary-color);
  box-shadow: 0 0 10px map-get($color, shadow-secondary-3);
  padding: 6% 2% 3%;

  .div-icons {
    text-align: center;

    .icon-footer {
      font-size: 200%;
      padding: 2% 4%;
      color: map-get($color, secondary-color);
      @include transition-1(200ms);

      &:hover {
        transform: translateY(-5%);
        color: map-get($color, shadow-secondary-6);
      }
    }
  }

  .text-footer {
    margin: 5% 0 2%;
    text-align: center;
    font-size: 90%;
    padding: 0 4%;
    color: map-get($color, shadow-secondary-7);
  }
}
