header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  box-shadow: 0 0 5px map-get($color, shadow-secondary-3);
  background-color: map-get($color, shadow-primary-9);

  .bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: rgba(
      var(--bs-tertiary-bg-rgb),
      var(--bs-bg-opacity)
    ) !important;
  }

  .navbar {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: map-get($color, shadow-primary-9);

    .container-fluid {
      background-color: map-get($color, shadow-primary-9);

      .navbar-brand {
        color: map-get($color, $key: secondary-color);
        font-family: $font;
        @include transition-1(200ms);

        &:hover {
          color: map-get($color, shadow-secondary-5);
        }
      }
      .navbar-toggler {
        --bs-navbar-padding-x: 0;
        --bs-navbar-padding-y: 0.5rem;
        --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
        --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
        --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
        --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
        --bs-navbar-brand-padding-y: 0.3125rem;
        --bs-navbar-brand-margin-end: 1rem;
        --bs-navbar-brand-font-size: 1.25rem;
        --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
        --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
        --bs-navbar-nav-link-padding-x: 0.5rem;
        --bs-navbar-toggler-padding-y: 0.25rem;
        --bs-navbar-toggler-padding-x: 0.75rem;
        --bs-navbar-toggler-font-size: 1.25rem;
        --bs-navbar-toggler-focus-width: 0;
        --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
        line-height: 0;
        padding: 0 1%;
        font-size: 15px;
      }

      .navbar-toggler {
        border: 0;
        padding: 4%;
      }

      .nav-link {
        color: map-get($color, secondary-color);
        padding: 3%;
        @include transition-1(400ms);
        font-weight: 300;
        font-family: $font;

        &:hover {
          transform: translateY(-7%);
          color: map-get($color, shadow-secondary-5);
        }
      }
    }
  }
}
