.inicio {
  height: 93vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font;

  .title-index {
    color: map-get($color, secondary-color);
    font-size: 200%;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .p-index {
    color: map-get($color, secondary-color);
    font-size: 110%;
    width: 100%;
    height: auto;
    text-align: center;
  }
}

.diferencias {
  box-shadow: 0 0 15px map-get($color, shadow-secondary-3);
  background-color: map-get($color, primary-color);

  .title-dif {
    text-align: center;
    color: map-get($color, shadow-secondary-9);
    padding: 8% 3%;
  }

  .p-dif {
    text-align: center;
    color: map-get($color, shadow-secondary-9);
    padding: 0 4% 8%;
    margin: 0;
  }
}

.gallery-products {
  margin: 10% 0 0 0;
  padding-bottom: 10%;

  .title-products {
    text-align: center;
    font-size: 170%;
    color: map-get($color, shadow-secondary-9);
    padding: 8% 0;
    margin: 0;
  }

  #descartables {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-descartables {
      @include title-product;
    }

    .card {
      @include card-mobile;
    }
  }

  #recargables {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-recargables {
      @include title-product;
    }

    .card {
      @include card-mobile;
    }
  }

  #sales {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-sales {
      @include title-product;
    }

    .card {
      @include card-mobile;
    }
  }
}
