$color: (
  primary-color: black,
  shadow-primary-1: rgba(0, 0, 0, 0.1),
  shadow-primary-2: rgba(0, 0, 0, 0.2),
  shadow-primary-3: rgba(0, 0, 0, 0.3),
  shadow-primary-4: rgba(0, 0, 0, 0.4),
  shadow-primary-5: rgba(0, 0, 0, 0.5),
  shadow-primary-6: rgba(0, 0, 0, 0.6),
  shadow-primary-7: rgba(0, 0, 0, 0.7),
  shadow-primary-8: rgba(0, 0, 0, 0.8),
  shadow-primary-9: rgba(0, 0, 0, 0.9),
  secondary-color: white,
  shadow-secondary-1: rgba(255, 255, 255, 0.1),
  shadow-secondary-2: rgba(255, 255, 255, 0.2),
  shadow-secondary-3: rgba(255, 255, 255, 0.3),
  shadow-secondary-4: rgba(255, 255, 255, 0.4),
  shadow-secondary-5: rgba(255, 255, 255, 0.5),
  shadow-secondary-6: rgba(255, 255, 255, 0.6),
  shadow-secondary-7: rgba(255, 255, 255, 0.7),
  shadow-secondary-8: rgba(255, 255, 255, 0.8),
  shadow-secondary-9: rgba(255, 255, 255, 0.9),
);

$font: ("Roboto Slab", serif);
